<% include partials/header %>

<div class="ui main container">
  <div class="ui grid">
    <div class="three column row">
      

      <% posts.forEach(function(post) { %>

        <div class="column">      
          <div id="caard" class="item">

              <img class="ui fluid bordered rounded image" src="<%= post.image %>">
              <div class="ui content">
                <a class="ui large header" href="/jmmmmuu/post/<%= post._id %>"><%= post.title %></a>
              </div>

          </div>
        </div>
      <% }); %>



    </div>
  </div>



<!--
  <div class="ui three cards"><!-- doubling stackable cards">-


    <% posts.forEach(function(post) { %>

        <div class="ui card">
          <div class="image">
              <img class="ui fluid image" src="<%= post.image %>">
          </div>
          <div class="content">
              <a class="header" href="/jmmmmuu/post/<%= post._id %>"><%= post.title %></a>
          </div>
        </div>
    <% }); %>
</div>
-->


<% include partials/footer %>
