<% include partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header"><%= post.title %></div>
    <div class="ui top attached">
        <div class="item">
            <img class="ui centered bordered rounded image" src="<%= post.image %>">
            <div class="content">
                <span class="ui tiny right aligned header olive"><%= post.date.toDateString() %></span>
            </div>
            <div class="description">
                <p><%- post.content %></p>
            </div>
            <a class="ui orange basic button" href="/jmmmmuu/post/<%= post._id %>/edit">Edit</a>
            <form id="delete" action="/jmmmmuu/post/<%= post._id %>?_method=DELETE" method="POST">
                <button class="ui red basic button">Delete</button>
            </form>
        </div>
    </div>
</div>

<% include partials/footer %>
